<app-title title="Control Flow" [subTitle]="imInFather" />

<section class="grid grid-cols-1 md:grid-cols-2 gap-3">
    <div class="bg-whit rounded shadow p-10">
        <h2 class="tet-2xl font-bold mb-5"> if: {{ showContent() }}  </h2>
        <button (click)="toogleContent()" class="p-2 bg-blue-500 rounded text-white">Click me!</button>
    
        @if( showContent() ){
            <p>Hi world</p>
        }
        @else {
        <p>99999</p>
        }
    </div>

    <div class="bg-whit rounded shadow p-10">
        <h2 class="tet-2xl font-bold mb-5"> {{ grade() }} </h2>
        @switch( grade() ){
            @case('A'){
                <p>90 Up</p>
            }
            @case('B'){
                <p>80 Up</p>
            }
            @default{
                <p>No passed</p>
            }
        }
    </div>

    <div class="bg-whit rounded shadow p-10">
        <ul>
            @for( fr of frameworks(); track fr; 
                    let i = $index, 
                    first = $first,
                    last = $last,
                    even = $even,
                    odd = $odd,
                    count = $count
                ){
                <li 
                    [class]="{
                        'bg-red-100':    even && !first && !last,
                        'bg-purple-100': even && !first && !last,
                        'bg-blue-100':   first || last
                    }">
                    {{i+1}}/{{count}} - {{ fr }}
                </li> 
            }
        </ul>
        <hr>
        <ul>
            @for( fr of frameworks2(); track $index ){
                <li> {{ fr }} </li>    
            }
            @empty{
                <h2 class="tet-2xl font-bold mb-5">No frameworks2</h2>
            }
        </ul>
    </div>

</section>
